.corner {
    position: absolute;
    width: 90%;
    top: -15%;
    right: 0%;
    animation: updown 2s;
}

.bamboo {
    position: absolute;
    width: 55%;
    top: -15%;
    right: -8%;
    animation: updown 2s;
}

.duanwujie {
    position: absolute;
    height: 45%;
    width: 80%;
    top: 5%;
    left: 10%;
}

.moutain {
    position: absolute;
    height: 55%;
    width: 160%;
    bottom: -5%;
    left: -30%;
    animation: downup 2s ease;
}

.zongzi {
    position: absolute;
    height: 25%;
    width: 100%;
    bottom: 15%;
    left: 0%;
    animation: updownappear 2s ease-in-out;
}

.wine {
    position: absolute;
    height: 28%;
    width: 36%;
    bottom: -10%;
    left: 32%;
    animation: updownappear 2s ease-in-out;
}

.cloud {
    position: absolute;
    height: 50%;
    width: 150%;
    bottom: -10%;
    left: -25%;
    animation: appear 3s;
}

.fontstyle {
    position: absolute;
    width: 80%;
    top: 25%;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    font-size: 3em;
    font-family: STKaiti, KaiTi, KaiTi_GB2312, DFKai-SB, SimSun, '宋体', Tahoma, Helvetica, Arial, sans-serif;
    /* font-family: Baskerville, Georgia, "Liberation Serif", "Kaiti SC", STKaiti,
        "AR PL UKai CN", "AR PL UKai HK", "AR PL UKai TW", "AR PL UKai TW MBE",
        "AR PL KaitiM GB", KaiTi, KaiTi_GB2312, DFKai-SB, "TW\-Kai", serif; */
    /* font-family: STKaiti, KaiTi, sans-serif; */
    /* font-family: "Lucida Calligraphy", cursive, serif, sans-serif; */
    white-space: nowrap;
}

#bgm {
    position: absolute;
    width: 10%;
    aspect-ratio: 1;
    top: 3%;
    right: 5%;
    z-index: 10;
    border-radius: 50%;
    overflow: hidden;
    background: rgba(0, 0, 0, .3);
    pointer-events: auto;
    background: 0 0 no-repeat;
    background-size: contain
}

#bgm.playing {
    -webkit-animation: musicRoutate 1.5s linear infinite;
    animation: musicRoutate 1.5s linear infinite
}

@-webkit-keyframes musicRoutate {
    0% {
        transform: rotate(0)
    }

    to {
        transform: rotate(1turn)
    }
}

@keyframes musicRoutate {
    0% {
        transform: rotate(0)
    }

    to {
        transform: rotate(1turn)
    }
}

@keyframes updown {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0%);
    }
}

@keyframes downup {
    from {
        transform: translateY(100%)
    }

    to {
        transform: translateY(0%);
    }
}

@keyframes appear {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes updownappear {
    from {
        opacity: 0;
        transform: translateY(100%);
    }

    to {
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes scaleup {
    from {
        transform: scale(0, 0);
    }

    to {
        transform: scale(1, 1);
    }
}


@-webkit-keyframes start {

    0%,
    30% {
        opacity: 0;
        -webkit-transform: translate(0, 10px);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate(0, 0);
    }

    100% {
        opacity: 0;
        -webkit-transform: translate(0, -8px);
    }
}

@-moz-keyframes start {

    0%,
    30% {
        opacity: 0;
        -moz-transform: translate(0, 10px);
    }

    60% {
        opacity: 1;
        -moz-transform: translate(0, 0);
    }

    100% {
        opacity: 0;
        -moz-transform: translate(0, -8px);
    }
}

@keyframes start {

    0%,
    30% {
        opacity: 0;
        transform: translate(0, 10px);
    }

    60% {
        opacity: 1;
        transform: translate(0, 0);
    }

    100% {
        opacity: 0;
        transform: translate(0, -8px);
    }
}